*{
    padding: 0px;
    margin: 0px;
}


.headbox{
    border: solid 1px;
    height: 160px;
    display: flex;
}
#box1,#box2{
    border: solid 1px;
    height: 160px;
}
#box1{
    width: 160px;
}
#box2{
    width: 1500px;
    background-color:pink;
}
#clgname{
    text-align: center;
    font-size: 50px;
    color: black;
}
#ugc{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
     color:floralwhite;
}
#text1{
    text-align:center ;
    font-size: 25px;
    font-weight: bold;
}
#scrolltext{
    font-size: 30px;
    font-weight: bold;
    color: darkturquoise;
}
#navbar{
    border: solid 1px;
    height: 60px;
}
ul li{
    border: solid 1px;
    height: 60px;
    width: 169.3px;
    float: left;
    text-align: center;
    line-height: 60px;
    font-size: large;
    background-color:pink;
    margin-right: 1px;

}
ul{
    list-style: none;
}
ul li a{
    color: purple;
    text-decoration: none;
}
ul li ul li{
    display: none;
} 
ul li:hover ul li{
    display: block;
}
ul li:hover{
    background-color: cyan;
}
.obox{
    border: solid 1px;
    height: 500x;
    display: flex;
    justify-content: space-between;
}
#in1,#in2,#in3{
    border: solid 1px;
    height: 430px;
    z-index: -1;
}
#in1{
    width: 600px;
    background-image: url(img1.jpg);
    background-repeat: no-repeat;
    background-size: 600px 430px;
    animation-name: imgchange;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}
@keyframes imgchange{
    20%{
        background-image: url(img2.jpg);
    }
    40%{
        background-image: url(img3.jpg);
    }
    60%{
        background-image: url(img4.jpg);
    }
    
}
#in2,#in3{
    width: 350px;
}
#name1{
    text-align: center;
    color: black;
    font-size: 20px;
}
#pbox{
    border:solid 1px;
    height: 300px;
}
#plog{
    height: 100px;
    width: 300px;
}